# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist

# Environment files
.env
.env.local
.env.*.local

# Editor directories
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
